@use '../../scss/common';

.BigButton {
  @extend %unselectable;
  background-color: common.$index-background-color;
  border-color: #fff;
  border-radius: 2rem;
  border-style: solid;
  margin: 0.5rem 0.5rem;
  border-width: 0.1rem;
  color: inherit;
  font-size: 2.3rem;
  box-shadow: none;
  padding: 1.5rem 1.5rem;
  transition-duration: 0.4s;
  outline: none;
  cursor: pointer;
}

.BigButton:hover {
  background-color: common.$index-foreground-color;
  color: common.$index-background-color;
  font-size: 2.5rem;
}

.BigButton-btn {
  color: inherit;
  text-decoration: none;
}
