@import 'common';

.big-button {
  @extend %unselectable;
  background-color: $index-background-color;
  border-color: #ffffff;
  border-radius: 20px;
  border-style: solid;
  margin: 1vh 1vh;
  color: inherit;
  font-size: 3vh;
  box-shadow: none;
  padding: 2vh 2vh;
  transition-duration: 0.4s;
  outline: none;
  text-decoration: none;
}

.big-button:hover {
  background-color: $index-foreground-color;
  color: $index-background-color;
}
