@use 'common';

.Blog-text {
  color: common.$index-foreground-color;
  padding: 2rem 1rem;
  font-size: 2rem;
  font-weight: 100;
  display: flex;
  justify-content: center;
}

.Blog-text > article {
  max-width: 90vw;
  text-align: justify;
}

@media screen and (min-width: 760px) {
  .Blog-text > article {
    max-width: 68rem;
    width: auto !important;
  }
}

@media screen and (min-width: 1024px) {
  .Blog-text > article {
    max-width: 85rem;
    width: auto !important;
  }
}

.Blog-date {
  font-size: 1.5rem;
}

.Blog-title {
  font-size: 4rem;
  font-weight: 100;
  margin: 0;
  text-align: left;
}
