@use 'common';

$text-color: #eee;
$max-width: 68rem;

.BlogListEntry {
  background-color: common.$index-background-color;
  color: common.$index-foreground-color;
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.BlogListEntry-content {
  margin: 1rem 1rem;
  padding: 1rem 1.5rem;
  max-width: $max-width;
  flex-grow: 1;
  display: block;
  border-style: solid;
  border-radius: 1rem;
  border-color: #326c61;
  border-width: 1px;
  height: fit-content;
}

.BlogListEntry-title {
  @extend %unselectable;
  font-size: 2.5rem;
  font-weight: 100;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  transition: 0.2s;
  text-decoration: none;
  color: $text-color;
  cursor: pointer;
}

.BlogListEntry-title:hover {
  color: common.$link-color;
}

.BlogListEntry-tag-container {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.BlogListEntry-tag-container > .BlogListEntry-tag {
  @extend %unselectable;
  padding: 0.5rem 0.5rem;
  border-style: solid;
  background-color: #326c61;
  border-radius: 0.6rem;
  border-width: 0;
  margin-right: 0.5rem;
  font-size: 1.2rem;
}

.BlogListEntry-date {
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  font-size: 1.4rem;
}

.BlogListHeader {
  @extend %unselectable;
  background-color: common.$index-background-color;
  color: common.$index-foreground-color;
  display: flex;
  justify-content: center;
  margin: 1rem 1rem;
  margin-left: 0;
}

.BlogListHeader > h1 {
  font-weight: 100;
  font-size: 2.5rem;
  flex-grow: 1;
  max-width: $max-width;
  text-align: left;
}
