@use 'common.module.scss';

$text-color: #eee;
$max-width: 68rem;

.entry {
  background-color: common.$index-background-color;
  color: common.$index-foreground-color;
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.content {
  margin: 0 0 1rem;
  padding: 0.5rem 1rem;
  max-width: $max-width;
  flex-grow: 1;
  display: block;
  border-style: solid;
  border-radius: 1rem;
  border-color: #326c61;
  border-width: 1px;
  height: fit-content;
}

.title {
  @extend %unselectable;
  display: inline-block;
  font-size: 2.5rem;
  font-weight: 100;
  padding: 0.5rem 0;
  transition: 0.2s;
  text-decoration: none;
  color: $text-color;
  outline: none;
  border-style: solid;
  border-radius: 1rem;
  border-color: transparent;
  cursor: pointer;
}

.title:hover {
  color: common.$link-color;
}

.title:focus {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin: 0.25rem 0;
  box-shadow: 0 0 0 0.05rem common.$link-color;
}

.tag-container {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0.5rem 0;
}

.tag {
  @extend %unselectable;
  padding: 0.5rem 0.5rem;
  border-style: solid;
  background-color: #326c61;
  border-radius: 0.6rem;
  border-width: 0;
  margin-right: 0.5rem;
  font-size: 1.2rem;
}

.date {
  padding: 0.5rem 0;
  font-size: 1.4rem;
}

.description {
  margin: 0;
  padding: 0.5rem 0;
}

.header {
  @extend %unselectable;
  background-color: common.$index-background-color;
  color: common.$index-foreground-color;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}

.header > h1 {
  font-weight: 100;
  font-size: 2.5rem;
  flex-grow: 1;
  max-width: $max-width;
  text-align: left;
  margin: 0;
  padding: 0.5rem 0;
}
