@use 'common.module.scss';

$text-color: #eee;
$max-width: 68rem;

.entry {
  color: common.$index-foreground-color;
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.entry > * {
  max-width: $max-width;
  flex-grow: 1;
  margin: 0 1rem;
  padding: 0.5rem 1rem;
}

.content {
  margin-bottom: 1rem;
  display: block;
  border-style: solid;
  border-radius: 1rem;
  border-color: #326c61;
  border-width: 1px;
}

.title {
  @extend %unselectable;
  display: inline-block;
  font-size: 2.5rem;
  font-weight: 100;
  padding: 0.25rem 0;
  transition: 0.2s;
  text-decoration: none;
  color: $text-color;
  outline: none;
  cursor: pointer;
}

.title:hover {
  color: common.$link-color;
}

.title:focus {
  text-shadow: 0 0rem 0.3rem #eee;
}

.tag-container {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0.5rem 0;
}

.tag {
  @extend %unselectable;
  margin: 0.2rem 0;
  padding: 0.5rem;
  border-style: solid;
  background-color: #326c61;
  border-radius: 0.6rem;
  border-width: 0;
  margin-right: 0.5rem;
  font-size: 1.2rem;
}

.date {
  padding: 0.5rem 0;
  font-size: 1.4rem;
}

.description {
  margin: 0;
  padding: 0 0 0.4rem;
}

.header {
  @extend %unselectable;
  background-color: common.$index-background-color;
  color: common.$index-foreground-color;
  display: grid;
  max-width: $max-width;
  grid-template-columns: 1fr auto;
  column-gap: 1rem;
  justify-content: center;
}

.header > h1 {
  font-weight: 100;
  font-size: 2.5rem;
  flex-grow: 1;
  max-width: $max-width;
  text-align: left;
  margin: 0;
  padding: 0.5rem 0;
}

.feed-icon,
.feed-icon-link {
  outline: none;
}

.feed-icon {
  @extend %unselectable;
  height: 1.75rem;
  cursor: pointer;
  border: 0px solid;
  margin: 1.65rem 0 0.2rem;
  border-radius: 0.4rem; // matches borders of svg
}

.feed-icon-link:focus > .feed-icon {
  box-shadow: 0 0 0.5rem;
}
