@use 'common';

$md-code-color: #fff;

.code-container {
  margin: 0 0 0.5rem;
  padding: 0.25rem 1rem 0.5rem;
  background-color: rgb(43, 43, 43);
}

.code-btn {
  @extend %unselectable;
  margin-bottom: 1rem;
  padding: 1rem 1rem;
  color: $md-code-color;
  background-color: transparent;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  border-style: solid;
  border-width: thin;
  border-radius: 1rem;
  transition: 0.4s;
  font-weight: 100;
}

.code-btn:hover,
.code-btn:active {
  color: rgb(43, 43, 43);
  background-color: $md-code-color;
}
