$index-background-color: #282c34;
$index-foreground-color: #ffffff;

%unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  cursor: default;
  //noinspection CssUnknownProperty
  user-drag: none;
}

%selectable {
  -moz-user-select: auto;
  -webkit-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}

.selectable {
  @extend %selectable;
}

.unselectable {
  @extend %unselectable;
}
