@use 'common';

.Footer {
  color: common.$index-foreground-color;
  text-align: center;
}

.Footer-link {
  @extend %selectable;
  color: lightblue;
  text-underline: none;
  text-decoration: none;
}
