@use 'common.module.scss';

.container {
  color: common.$index-foreground-color;
  text-align: center;
  padding: 1rem 0 0.5rem;
  font-size: 1.4rem;
}

.link {
  @extend %selectable;
  color: common.$link-color;
  text-decoration: none;
}

.link:hover {
  border-bottom: thin common.$link-color solid;
}
