@use 'common.module.scss';

.container {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 0;
  align-items: center;
  justify-items: center;
  padding: 0;
  text-align: left;
  border-style: solid;
  border-color: #326c61;
  border-width: 0;
  border-bottom-width: 1px;
  font-size: 4rem;
  vertical-align: bottom;
  background-color: common.$index-background-color;
}

.item {
  margin: 0 0;
  padding: 0 0;
  align-items: center;
  text-align: center;
  word-break: keep-all;
  font-size: 2.5rem;
}

.item,
.title > a {
  @extend %unselectable;
  font-weight: 100;
  margin: 0 0;
  text-decoration: none;
  transition: 0.2s;
  color: common.$index-foreground-color;
  cursor: pointer;
}

.title {
  margin: 0 0;
  font-size: 4rem;
  padding: 1.2rem 1rem;
  flex-grow: 1;
  text-decoration: none;
  text-align: center;
}

.title > a:hover,
.item:hover {
  color: common.$link-color;
}

.links {
  display: flex;
  flex-grow: 1;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 1.2rem 0;
}

.links > .item {
  padding-left: 0.7rem;
  padding-right: 0.7rem;
}

.item-active {
  padding: 1rem;
  border-style: solid;
  border-color: common.$link-color;
  border-radius: 1rem;
  border-width: thin;
}
