@use 'common.module.scss';

.container {
  text-align: center;
  display: grid;
  height: 100%;
  grid-template-rows: 7fr 5fr auto;
  grid-template-columns: auto;
}

.header {
  background-color: common.$index-background-color;
  font-size: calc(1rem + 2vmin);
  color: common.$index-foreground-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 0 0.5rem;
}

.body {
  background-color: common.$index-background-color;
  color: common.$index-foreground-color;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  flex-basis: 0;
  height: fit-content;
}

.h1 {
  @extend %unselectable;
  font-size: 6rem;
  font-weight: lighter;
}
