@use 'common.module.scss';

$heading-transition: 0.2s ease;

.heading {
  font-weight: 200;
  text-align: left;
  margin: 1rem 0;
  transition: $heading-transition;
  pointer-events: none;
}

.heading > a {
  color: inherit;
  transition: $heading-transition;
  text-decoration: none;
  pointer-events: auto; // https://stackoverflow.com/a/39380631/6306974
}

.heading > a:hover {
  color: common.$link-color;
}

.h1,
.h2 {
  border-bottom: 0.1rem solid darkslategray;
  padding-bottom: 1rem;
}

:is(.h1, .h2):hover {
  border-bottom-color: common.$link-color;
}

.h1 {
  @extend .heading;
  font-size: 4rem;
}

.h2 {
  @extend .heading;
  font-size: 3.5rem;
}

.h3 {
  @extend .heading;
  font-size: 3rem;
}

.h4 {
  @extend .heading;
  font-size: 2.5rem;
}

.h5 {
  @extend .heading;
  font-size: 2.25rem;
}

.h6 {
  @extend .heading;
  font-size: 2rem;
}

.img {
  max-width: 100%;
}

.link {
  color: common.$link-color;
  text-decoration: none;
  border-bottom: 0.1rem common.$link-color solid;
}

.link > code {
  color: common.$link-color !important;
  border: none;
}

.blockquote {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-inline-start: 2rem;
  margin-inline-end: 2rem;
  border-left: 0.7rem solid #7f7f7f;
  padding-left: 1rem;
  color: #ccc;
}

.blockquote > .blockquote {
  margin: 0.5rem 0;
}

.hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
