@use './common.module';

.modal-container {
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(0.2rem);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background-color: common.$index-background-color;
  border: thin solid white;
  padding: 2rem;
  margin: 1rem;
  border-radius: 1.5rem;
  max-width: 78rem;
  overflow-y: auto;
}

.question-prompt {
  @extend %unselectable;
  margin: 0 0 0.5rem;
}

.response-input {
  font-size: inherit;
  font-style: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  background-color: inherit;
  border: thin dotted white;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem 1rem 1rem 0;
  outline: none;
  min-width: 5rem;
}

.response-input:focus {
  box-shadow: 0 0 0 0.25rem gray;
}

.form-label {
  @extend %unselectable;
  padding-bottom: 0.5rem;
  margin: 0.5rem 0 1rem;
}

.incorrect-answer-prompt {
  display: grid;
  grid-template-columns: 1fr auto;
  border: thin dashed red;
  border-radius: 1rem;
  padding: 1rem;
  margin: 0 0 1rem;
  transition: 0.2s;
}

.modal-button {
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: 1.5rem;
  padding: 1rem;
  margin: 0.5rem 0.6rem 0 0;
  border: thin solid white;
  border-radius: 1rem;
  background: transparent;
  cursor: pointer;
  transition: 200ms;
  outline: none;
}

.modal-button:focus {
  box-shadow: 0 0 0 0.25rem gray;
}

.modal-button:disabled {
  cursor: not-allowed;
  filter: saturate(30%);
}

.modal-button-primary {
  background: #449d44;
}

.close-warning-button {
  outline: none;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  padding: 0;
  border: none;
}

.close-warning-button:focus {
  text-shadow: 0 0 0.3rem #eee;
}
